[build]
  command = "npm run build"
  publish = "frontend/dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"

[functions]
  directory = "netlify/functions"
  [functions.server]
    timeout = 26

# API → تابع سرور
[[redirects]]
  force = true
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200

